
.img-circle{
  border-radius: 50%;
}

.shadowed {
  box-shadow: 3px 3px 3px grey;
}

.container {
    width: 600px;
    margin: 50px auto;
}

body {
  background-color: #ecd4ef;
  font-weight: lighter;
  text-align: center;
}
.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}

.btn {
    background-color: #6B72E1;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}
a {
    text-decoration: none;
    color: #6B72E1;
    font-weight: bold;
    font-size: 16px;
    }
h1{
    font-family: 'Roboto', serif;
    color: #7CC6FE;
    font-size: 20px;
    font-weight: bold;
  }

h2{
    font-family: 'Roboto', serif;
    color: #cdffd0;
    font-size: 15px;
    font-weight: bold;
  }
p {
    color: #cdffd0;
    font-family: 'Roboto', serif;
    font-size: 15px;
    font-weight: bold;
    margin: 40px 17px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

.list-inline i {
  font-size: 50px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
